@media (max-width: 1600px) {
	.investors .plate {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 'solana sequoia rarestone' 'jumpcapital circle gateio' 'huobi krypital gateio2' 'fundamental mcventures alameda';
		gap: 1rem;
	}
}
@media (max-width: 1200px) {
	#wrapper,
	#wrapper2 {
		width: 100vw;
		padding: 0;
	}
	.plans .pic {
		width: calc(100% - 0.8rem);
		height: 230px;
		align-self: center;
	}
	.plans .frail img {
		max-height: 220px;
		width: auto;
	}
	.space .plates {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'community' 'curator' 'dao';
	}
}
@media (max-width: 1094px) {
	.investors .plate {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 'solana sequoia' 'rarestone jumpcapital' 'circle gateio' 'huobi krypital' 'gateio2 fundamental' 'mcventures alameda';
		gap: 1rem;
	}
}
@media (max-width: 800px) {
}
@media (max-width: 1557px) {
	#seereco,
	#image2 {
		display: none;
	}
	.part1 {
		padding-top: 3.875rem;
		/* background-image: url('../img/seer.eco.png');
		background-image: image-set(
			url('../img/seer.eco.webp') 1x,
			url('../img/seer.eco@2x.webp') 2x,
			url('../img/seer.eco.png') 1x,
			url('../img/seer.eco@2x.png') 2x
		); */
		/* background-repeat: no-repeat;
		background-position: right center; */
		min-height: 570px;
		/* background-size: auto 100%; */
	}
}
@media (max-width: 1304px) {
	.part.part1 {
		width: 100%;
	}
}
@media (max-width: 1023px) {
	.bg_container {
		height: 4000px;
	}
	.bg_part2,
	.bg_part4_1,
	.bg_part5_1,
	.bg_part5_2 {
		/* display: none; */
	}
	.bg_part2 {
		background-size: 251px 241px;
		width: 251px;
		height: 241px;
		transform: rotate(-70deg) scale(1.3);
		top: 876px;
		right: auto;
		left: 0;
		filter: blur(10px);
		opacity: 0.9;
	}
	.bg_part4_1 {
		background-size: 269px 259px;
		width: 269px;
		height: 259px;
		top: 1398px;
		right: -118px;
		transform: rotate(65deg) scaleX(1) scale(1.3);
		filter: blur(10px);
		opacity: 0.9;
	}
	.bg_part3_1 {
		top: 600px;
		left: -160px;
		width: 1000px;
		height: 1608px;
		filter: blur(10px);
		opacity: 0.3;
		transform: rotate(-24deg) scaleX(-1);
	}
	.bg_part5_1 {
		left: -288px;
		top: 522px;
		width: 1040px;
		height: 998px;
		transform: scale(0.5) rotate(9deg);
		filter: blur(40px);
		opacity: 0.5;
	}

	.bg_part5_2 {
		right: -470px;
		bottom: -183px;
		width: 953px;
		height: 915px;
		transform: rotate(-210deg) scaleX(-1) scale(0.5);
		filter: blur(40px);
		opacity: 0.4;
	}
	.part_wrapper.ch3 {
		padding-bottom: 0;
	}
	.part1 {
		padding: 0 15px;
	}
	.part2_n_half {
		padding-bottom: 21px;
	}
	.part2_n_half img.illustration,
	.part2_n_half .illustration {
		/* transform: scale(1.2); */
		margin-left: 0;
		margin-bottom: 58px;
		/* transform-origin: left center; */
		margin-top: 30px;
		object-fit: contain;
		/* max-width: 90%; */
		width: 200px;
	}
	.space .plates p {
		text-align: initial;
	}
	.space .plates p {
		margin-bottom: 0;
	}
	.part2 img.illustration,
	.part2 .illustration {
		transform: none;
		margin: 0 0 3rem 0;
		padding: 0;
		max-width: 100%;
	}
	.part1 .sub {
		margin: 25px 0 0 0;
	}
	.part3 {
		padding-top: 3rem;
		padding-left: 0;
	}
	.part1 .image {
		transform: none;
	}
	.illustration {
		width: 100vw;
		margin: 0 0 42px 0;
		transform: none;
	}
	.actions {
		gap: 1rem;
	}
	.space .plates .plate p,
	.space .plates .plate h3,
	.space .plates .plate .actions {
		padding: 0 18px;
	}

	.part3 .illustration.desktop {
		display: none;
	}
	.part3 .illustration.mobile {
		display: initial;
	}
	.carousel {
		display: none;
	}
	.part3 .bg_image {
		display: none;
	}
	.part3 p {
		font-size: 13px;
		margin: 1rem 0 54px 0;
	}
	.part3 h2 {
		font-size: 24px;
		margin: 0;
	}
	.progress .bar {
		height: 7px;
	}
	.space .plates p {
		margin-bottom: 58px !important;
	}
	.sitemap .columns {
		margin-top: 20px;
	}
	.actions .button {
		font-size: 13px;
	}
	.space .plates .bar {
		min-height: 32px;
	}
	.part1 .sub {
		width: auto;
		margin-top: 14px;
		align-self: flex-start;
		font-size: 17px;
	}
	.space .plates .bar img {
		height: 30px;
	}

	.sitemap h2 {
		font-size: 1.5rem;
	}
	.sitemap {
		padding: 0 2rem;
	}
	.line {
		margin: 2rem 0 16px 0;
		/* display: none; */
	}
	.part2_n_half .props {
		flex-direction: row;
		display: flex;
		justify-content: center;
		gap: 21px;
		margin-top: 0;
	}
	.part4 {
		padding-top: 20px;
	}
	.part4 h2 {
		margin-bottom: 0;
	}

	.part2_n_half .props .frail {
		align-self: center;
		width: 170px;
		height: 287px;
		border-radius: 8px;
		padding: 1rem 12px;
	}
	.part2_n_half .props .frail img {
		margin-top: 1rem;
	}
	.part2_n_half .props .frail h3 {
		font-size: 0.9375rem;
	}
	.part2_n_half .props .frail p {
		font-size: 0.6875rem;
		margin: 0;
	}
	.part2_n_half .props .frail:first-child img {
		transform: none;
		margin-top: 1.1rem;
	}
	.part2_n_half .props .frail:last-child img {
		margin-top: 2.2rem;
	}
	.part2 p {
		padding: 0 1rem 0 0;
		line-height: 120%;
		margin-bottom: 0;
	}
	.plans {
		gap: 2rem;
		flex-direction: column;
	}
	.plans .frail {
		padding: 1rem;
		width: 274px;
		height: 381px;
		align-self: center;
		max-width: 100vw;
	}
	.plans .pic {
		width: calc(100% - 0.8rem);
		height: 230px;
		align-self: center;
	}
	.plans .pic img {
		width: 125px;
		height: 187px;
	}
	.plans .characteristics {
		gap: 0.2rem 0.2rem;
		font-size: 0.625rem;
		padding: 0 0.5rem;
	}
	.plans .characteristics div {
		margin: 0.2rem 0;
	}
	.plans .frail h3 {
		font-size: 20px;
		margin: 0;
		line-height: 200%;
		padding: 0 0.5rem;
	}
	.part4 p {
		max-width: 100%;
		flex: 1;
		font-size: 0.88rem;
		padding: 0 1rem;
		margin: 6px 0 2.2rem 0;
	}
	.progress,
	.bar {
		height: 9px;
	}
	.space h2 {
		font-size: 1.5rem;
		margin-bottom: 60px;
	}
	.part4 {
	}
	.space {
		padding-top: 6rem;
		background-position: 26% -2%;
		margin: 0 -1rem;
		background-size: 150%;
		padding-bottom: 4rem;
		background-repeat: no-repeat;
	}
	.space .plates {
		margin: 0 2rem;
	}
	.space .plates .bar {
		grid-template-columns: 1fr 1fr 1fr 6fr;
		grid-template-areas: 'twitter medium telegram news';
		/* grid-template-columns: 1fr 1fr 1fr 6fr; */
	}
	.part2 {
		margin-top: 5rem;
	}
	.part2 h2 {
		font-size: 23px;
	}
	.part2 p {
		font-size: 13px;
		margin-bottom: 59px;
	}
	.part2 p.description {
		padding: 0 42px;
	}
	.part4 h2 {
		font-size: 1.5rem;
	}
	.part2 img,
	.part2 picture {
		max-width: 100%;
	}
	.part2 img,
	.part2 picture {
		margin-bottom: 8px;
	}
}

@media (max-width: 1200px) {
	.part1 {
		grid-template-columns: 1fr 1fr 0fr 2fr;
		grid-template-rows: 3fr 1.3fr 0.8fr 0.8fr;
	}
}

@media (max-width: 960px) {
	.space .plates {
		gap: 1rem 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'community' 'curator' 'dao';
	}
	.space .plates .plate {
		justify-self: center;
		padding: 28px 16px;
	}
	.dao .actions {
		margin: 0;
		justify-content: flex-start;
	}
}

@media (max-width: 900px) {
	.logo {
		margin-top: 6px;
	}

	.space .plates .bar {
		height: 48px;
	}
	.space .plates {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'community' 'curator' 'dao';
	}
	.space .plates .telegram,
	.space .plates .medium,
	.space .plates .twitter {
		justify-self: center;
	}
	.sitemap .columns h3 {
		margin: 2rem 0 0 0;
		font-size: 1.25rem;
		font-weight: bold;
	}
	.sitemap .columns li {
		font-size: 1rem;
	}
	.sitemap .columns .column:nth-child(2) {
		justify-self: start;
	}
	.sitemap .columns {
		align-self: flex-start;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 'col1 col3' 'col2 col4';
		gap: 28px 74px;
	}
	.bottom_logo {
		max-height: 50px;
		margin-right: 2rem;
	}
	.part1 .header {
		font-size: 1.5rem;
		font-weight: 800;
		max-width: 60%;
		line-height: 120%;
		align-self: flex-start;
	}
	.top {
		display: none;
	}
	.top ul {
		align-items: center;
		flex-direction: column;
	}
	.top ul li {
		align-self: stretch;
		line-height: 2.4rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
	.top ul li a {
		display: block;
	}
	.top ul li:last-child,
	.top ul li:first-child {
		flex: 1;
		text-align: initial;
	}
	.top ul li:last-child {
		border-bottom: 1px solid #2481e2;
	}
	.part1 .badge {
		width: 203px;
		height: 63px;
	}
	.part1 {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		/* grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 'header' 'sub' 'appstore' 'google' 'apk' 'chrome';
		margin-bottom: 2rem;
		gap: 0; */
	}
	.part1 .image {
		justify-self: center;
	}
}

@media (max-width: 694px) {
	.investors .plate {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 'solana' 'sequoia' 'rarestone' 'jumpcapital' 'circle' 'gateio' 'huobi' 'krypital' 'gateio2' 'fundamental' 'mcventures' 'alameda';
		gap: 1rem;
	}
	.investors .plate div {
		justify-self: center;
	}
}
@media (max-width: 400px) {
	.part2_n_half .props .frail {
		width: 45vw;
	}
}
@media (max-width: 442px) {
	footer {
		padding: 1rem;
	}
	footer .group {
		flex-direction: column;
	}
	footer .button.lang img {
		flex: none;
	}
}
