@font-face {
	font-family: 'Rubik';
	src: url('/font/Rubik-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Rubik';
	src: url('/font/Rubik-Bold.woff2') format('woff2');
	font-weight: bold;
}
@font-face {
	font-family: 'Rubik';
	src: url('/font/Rubik-Medium.woff2') format('woff2');
	font-weight: 500;
}

* {
	box-sizing: border-box;
}
body,
html {
	background-color: #f4f4f4;
	min-height: 400vh;
	font-family: 'Rubik', 'PingFang SC', Heiti SC, 'Segoe UI', Tahoma, Geneva,
		Verdana, sans-serif;
	color: #2481e2;
}
body {
	overflow-x: hidden;
	background-image: url('/img/bg.jpg');
	/* background-image: image-set(
		'/img/bg.webp' 1x,
		'/img/bg@2x.webp' 2x,
		'/img/bg.jpg' 1x,
		'/img/bg@2x.jpg' 2x
	);
	background-image: -webkit-image-set(
		url('/img/bg.webp') 1x,
		url('/img/bg@2x.webp') 2x
	); */
	/* background-repeat: repeat-y; */
	background-repeat: no-repeat;
	background-size: 100%;
	/* background-position: center; */
	/* background-position: 0 -400px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /*main-axis*/
	align-items: center; /*cross-axis*/
}
.illustration {
	object-fit: contain;
	max-width: 1168px;
	width: 90%;
	align-self: center;
	transform: translateX(64px);
}
h2 {
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
}

#wrapper,
#wrapper2,
.part {
	/* box-sizing: border-box; */
	flex: 1;
	width: 1200px;
	content: '&nbsp;';
	/* align-items: center; */
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	z-index: 5;
}
#wrapper {
	overflow: visible;
}
@media (max-width: 1200px) {
	#wrapper,
	#wrapper2,
	.part {
		width: 100vw;
		padding: 0 0;
		overflow-x: hidden;
	}
}
#top {
	background-color: white;
	display: flex;
	align-items: center;
	display: none;
}
.top {
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 0 0;
	flex-direction: row;
	/* max-width: 90vw; */
	/* background-color: blanchedalmond; */
}
.logo {
	margin-top: -6px;
	flex: 1;
	max-width: 117px;
	/* height: 117px; */
}
.top ul li {
	flex: 1;
	/* background-color: aqua; */
	list-style: none;
	font-size: 20px;
	color: #2481e2;
	padding-left: 1rem;
	display: block;
	padding: 0 1.3rem;
	box-sizing: border-box;
}
.top ul li a {
	color: #2481e2;
	text-decoration: none;
	font-size: 1.25rem;
}
.top ul li:first-child {
	flex: 2;
}
.top ul li:last-child {
	flex: 2;
	text-align: right;
	padding-right: 2rem;
	/* background-color: #fefefe; */
}
.top ul {
	display: flex;
	flex-direction: row;
	/* background-color: rgb(161, 145, 41); */
}
.part1 {
	/* padding: 0 1rem; */
	padding-top: 145px;
	/* background-color: #8ee8ff; */
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr 1fr 2fr;
	grid-template-rows: 3fr 1.3fr 0.8fr 0.8fr; */
	/* align-items: flex-start; */
	/* grid-template-areas:
		'header header header image' 'sub sub sub image'
		'appstore google empty image' 'apk chrome empty image'; */
	/* gap: 10px; */
	/* grid-auto-rows: minmax(100px, auto); */
	display: flex;
	flex-direction: row;
	overflow: visible !important;
}
.part1 .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.part1 .col:first-child {
	z-index: 2;
	flex: 693;
}
.part1 .col:last-child {
	overflow-x: hidden;
	flex: 608;
}
.part1 .row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 47px;
}

.part1 .header {
	/* flex: 1; */
	font-weight: bold;
	/* background-color: lime; */
	font-size: 74px;
	font-stretch: expanded;
	/* padding: 0 1rem; */
	grid-area: header;
	font-family: Rubik;
	width: 650px;
}
.part1 .sub {
	/* flex: 1; */
	width: 629px;
	/* background-color: #9e9; */
	font-size: 36px;
	grid-area: sub;
	/* padding: 0 5vw; */
	/* justify-self: center; */
	align-self: flex-start;
	text-align: left;
	line-height: 2rem;
	margin: 25px 0 25px 0;
}
.part1 .badges {
	/* flex: 1; */
	margin: 42px 0 42px 0;
}

.part1 .image {
	flex: 1;
	/* background-color: #294302; */
	/* max-height: 50vh; */
	height: 600px;
	grid-area: image;
	object-fit: scale-down;
	overflow: hidden;
	/* position: absolute;
	right: 480px;
	top: 100px;
	z-index: 1; */
}
@media (min-width: 1555px) {
	.part1 .image {
		display: none;
	}
}

/* .part1 #image {
	transform: scale(0.5);
} */
.part1 .badge {
	/* flex: 1; */
	width: 203px;
	height: 63px;
}
.part1 .appstore {
	grid-area: appstore;
}
.part1 .google {
	/* background-color: #9e9; */
	grid-area: google;
}
.part1 .apk {
	grid-area: apk;
}
.part1 .chrome {
	grid-area: chrome;
	/* background-color: #49e; */
}
.part1 .empty {
	grid-area: empty;
	/* background-color: #90e; */
}
.part1 .badge {
	cursor: pointer;
	text-decoration: none;
	padding: 13.0016px 15.0016px;
	border-radius: 8px;
	margin: 9px 0;
	border: 1px solid rgba(136, 136, 136, 0.519);
	display: flex;
	flex-direction: row;
	color: rgba(136, 136, 136, 0.519);
	font-size: 1.1rem;
	/* background-color: #f4f4f4; */
	/* width: 6.4rem;
	height: 2rem; */
	transition: all 0.4s ease-in-out;
}
.part1 .badge:hover {
	/* border-color: rgba(136, 136, 136, 1);
	color: rgba(136, 136, 136, 1); */
	background-color: #2481e2;
	color: white !important;
	transform: translateY(-3px) !important;
}
.part1 .badge:active {
	transform: translateY(3px) !important;
}
.part1 .badge:hover img {
	filter: contrast(8) invert(1);
}
.part1 .badge img {
	/* flex: 1; */
	width: 32px;
	/* height: 42px; */
	align-self: center;
	margin-right: 26px;
}
.part1 .badge p {
	flex: 3;
	line-height: 150%;
	align-self: center;
	font-size: 14px;
}
.part1 strong {
	font-weight: bold;
	/* color: rgba(136, 136, 136, 1); */
}

.stats {
	margin-top: 163px;
	/* position: absolute; */
	/* left: 0;
	right: 0; */
	background: #2481e2;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
.stats .rows {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'row1 row2 row3 row4';
	color: white;
}
.stats .rows .row1 {
	grid-area: row1;
}
.stats .rows .row2 {
	grid-area: row2;
}
.stats .rows .row3 {
	grid-area: row3;
}
.stats .rows .row4 {
	grid-area: row4;
}
.stats .rows .row {
	flex: 1;
	border-left: solid 1px white;
	height: 4.4rem;
	display: flex;
	line-height: 4.4rem;
	padding: 0 3.25rem 0 3.25rem;

	align-content: space-between;
}

.stats .rows .row h3 {
	font-size: 1rem;
	flex: 1;
}
.stats .rows .row p {
	font-size: 1.6rem;
	flex: 1;
	text-align: center;
	font-weight: bold;
}

.under_stats {
	background-image: url('/img/under_stats.png');
	background-size: contain;
	transform: rotate(-75deg);
	width: 50rem;
	height: 50rem;
	z-index: 0;
	/* position: absolute; */
	/* left: 0vw; */
	margin-top: -18rem;
	background-position: center;
}
.part2 {
	display: flex;
	flex-direction: column;
	margin-top: 211px;
	overflow: hidden;
}
.part2 h2 {
	text-align: center;
	font-size: 3.125rem;
	margin: 0 1rem;
}
.part2 p {
	margin-top: 1rem;
	color: #2481e2;
	font-size: 1.45rem;
	line-height: 148%;
	padding: 0 0 0 0;
	text-align: center;
	max-width: 1020px;
	align-self: center;
	margin-bottom: 100px;
}
.part2_n_half {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
	padding-bottom: 100px;
}
.part2_n_half img.illustration,
.part2_n_half .illustration {
	margin-right: 0rem;
	/* flex: 1; */
	align-self: center;
	justify-self: center;
	/* max-width: calc(100% - 4rem); */
	transform: scale(1.2) translateY(70px) translateX(70px);
	padding: 3rem -3rem 0 0;
	margin-left: 3rem;
}
.part2 .card_ill {
	align-self: center;
}
.part2_n_half .props {
	width: 100vw;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 8rem;
	margin-top: 176px;
}
.part2_n_half .frail1,
.part2_n_half .frail2 {
	flex: 1;
	flex-basis: 50%;
}
.part2_n_half .props .frail {
	width: 464px;
	align-self: stretch;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	color: white;
	height: 607px;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.part2_n_half .props .frail h3 {
	/* flex: 1; */
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 200%;
}
.part2_n_half .props .frail p {
	color: white;
	margin: 0;
	text-align: left;
	margin-top: 1rem;
	font-size: 1.4375rem;
}
.part2_n_half .props .frail img {
	flex: 6;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.part2_n_half .props .frail:first-child img {
	object-fit: scale-down;
	transform: translateY(20px);
}

.frail {
	background: rgb(34, 129, 192);
	background: linear-gradient(
		216deg,
		rgba(34, 129, 192, 1) 0%,
		rgba(47, 168, 234, 1) 19%,
		rgba(65, 214, 221, 1) 56%,
		rgba(54, 174, 221, 1) 100%
	);
	border-radius: 20px;
}
.part3 .illustration.mobile {
	display: none;
}

.part3 {
	margin: 1rem;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	padding-left: 48px;
	overflow-y: hidden;
}
.part3 h2 {
	text-align: center;
	font-size: 3.125rem;
	text-transform: uppercase;
	font-weight: bolder;
	margin-bottom: 1rem;
	margin-left: -48px;
}
.part3 p {
	text-align: center;
	display: block;
	margin: 1rem 0 134px -48px;
	font-size: 23px;
	line-height: 140%;
}

.part4 {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
}

.part4 h2 {
	margin-bottom: 0;
	font-size: 3.125rem;
	text-align: center;
}
.part4 p {
	text-align: center;
	display: block;
	margin: 2rem 0 4.5rem 0;
	font-size: 1.4375rem;
	line-height: 140%;
	align-self: center;
}
.plans {
	display: flex;
	flex-direction: row;
	align-self: stretch;
}
.plans .frail {
	width: 100%;
}
.plans .frail .pic {
	transition: all 0.4s ease-in-out;
}
.plans .frail .pic:hover {
	transform: scale(1.1);
}
/* .progress,
.progress * {
	box-sizing: border-box;
} */
.progress {
	height: 12px;
	position: relative;
	border: 1px solid white;
	border-radius: 3px;
	padding: 0;
	/* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}
.progress .bar {
	height: 10px;
	border-radius: 1px 0 0 1px;
	display: block;
	margin-left: -1px;
	background-color: white;
	box-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
}

/* NFT */
.plans {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	gap: 1rem;
}
.plans .frail h3 {
	font-size: 1.4375rem;
	font-weight: bold;
	color: white;
	flex: 1;
	margin: 20px 0 19px 0;
}
.plans .pic {
	background-color: #2c252d;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	height: 297px;
	width: 327px;
	align-self: flex-start;
}

.plans .frail:nth-child(2) .pic {
	background-color: #353535;
}
.plans .frail:nth-child(3) .pic {
	background-color: #3a2529;
}
.plans .pic img {
	/* flex: 1; */
	justify-self: center;
	align-self: center;
}
.plans .frail {
	flex: 1;
	flex-basis: 50%;
	width: 377px;
	align-self: stretch;
	padding: 23px 25px 28px 25px;
	display: flex;
	flex-direction: column;
	color: white;
	height: 525px;
	max-width: 30vw;
}
.plans .characteristics {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 16px;
	grid-template-areas: 'users progress1' 'load progress2' 'registered progress3' 'cpc progress4';
}
.plans .users {
	grid-area: users;
}
.plans .load {
	grid-area: load;
}
.plans .registered {
	grid-area: registered;
}
.plans .cpc {
	grid-area: cpc;
}
.plans .progress1 {
	grid-area: progress1;
}
.plans .progress2 {
	grid-area: progress2;
}
.plans .progress3 {
	grid-area: progress3;
}
.plans .progress4 {
	grid-area: progress4;
}
.value {
	float: right;
}
.plans .frail p {
	color: white;
	flex: 2;
	font-size: 1.4rem;
	margin-top: 2rem;
}
.plans .frail img {
	/* flex: 6; */
	justify-self: center;
	/* width: calc(100% - 2rem);*/
	width: 172px;
	height: 257px;
	/* padding: 1rem 3rem; */
}
.frail {
	background: rgb(34, 129, 192);
	background: linear-gradient(
		216deg,
		rgba(34, 129, 192, 1) 0%,
		rgba(47, 168, 234, 1) 19%,
		rgba(65, 214, 221, 1) 56%,
		rgba(54, 174, 221, 1) 100%
	);
	border-radius: 20px;
}

/* NFT */
.part_wrapper.ch3 {
	padding-bottom: 100px;
}
.space {
	padding-top: 161px;
	background-image: url('/img/space_bg.webp');
	background-image: -webkit-image-set(
		url('/img/space_bg.webp') 1x,
		url('/img/space_bg@2x.webp') 2x
	);
	background-image: image-set(
		'/img/space_bg.webp' 1x,
		'/img/space_bg@2x.webp' 2x,
		/* '/img/space_bg.png' 1x, */ /* '/img/space_bg@2x.png' 2x */
	);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 46% 0%;
}
.space .plates {
	color: black;
	margin-top: 4rem;
	display: grid;
	gap: 2rem 2rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.1fr 0.1fr;
	grid-template-areas: 'community curator' 'dao dao';
}
.space .plates .plate {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	border-radius: 20px;
	padding: 2rem 31px;
}
.space .plates h3 {
	/* flex: 1; */
	color: black;
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 200%;
}
.space .plates p {
	font-size: 1.4rem;
	line-height: 140%;
	flex: 1;
	padding: 0 0;
	margin-top: 0;
	margin-bottom: 44px;
	text-align: justify;
}

.space .plates .bar {
	flex: 1;
	margin: 4rem 0 0 0;
	border-radius: 26px;
	min-height: 52px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
	grid-template-areas: 'twitter medium telegram empty news';
	grid-template-rows: 1fr;
	background-color: black;
	align-items: center;
	padding: 0.1875rem 0.375rem;
}
.space .plates .bar .icon {
	justify-self: center;
	transition: all 0.2s ease-in-out;
}
.space .plates .bar .icon:hover {
	transform: scale(1.1);
}
.space .plates .bar img {
	height: 35px;
}
.space .plates .bar .social {
	align-items: center;
	flex-direction: row;
	display: flex;
}
.space .plates .bar .twitter {
	flex: 1;
	grid-area: twitter;
}
.space .plates .bar .medium {
	flex: 1;
	grid-area: medium;
}
.space .plates .bar .telegram {
	grid-area: telegram;
}
.space .plates .bar .news {
	grid-area: news;
	background-color: white;
	border-radius: 19px;
	color: rgba(0, 0, 0, 0.3);
	padding: 0 1.2rem;
	min-height: 37px;
	line-height: 37px;
	font-size: 0.9rem;
	margin-right: 0.2rem;
}
.space .plates .community {
	grid-area: community;
	background-color: #f782c8;
}
.space .plates .curator {
	grid-area: curator;
	background-color: #68d8de;
}
.space .plates .dao {
	grid-area: dao;
	background-color: #e8bc6e;
}
.actions {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.actions .button {
	border: none;
	width: 204px;
	height: 52px;
	font-size: 24px;
	background-color: black;
	border-radius: 26px;
	text-align: center;
	text-decoration: none;
	color: white;
	transition: all 0.2s ease-in-out;
}
.actions .button:hover,
.actions .button:active {
	color: black;
	border: 1px solid black;
	background-color: white;
	transform: translateY(-3px);
}
.actions .button:active {
	transform: translateY(3px);
}
.dao .actions {
	justify-content: flex-end;
	margin-right: 0.5rem;
}
.dao .actions .button {
	width: 266px;
}

.investors {
	margin-bottom: 4rem;
}
sup {
	font-size: 1rem;
}
.investors .plate {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 'solana sequoia rarestone jumpcapital' 'circle gateio huobi krypital' 'gateio2 fundamental mcventures alameda';
	gap: 2rem;
}
.investors .plate div {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	width: 266px;
	height: 86px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}
.investors .plate div img {
	object-fit: contain;
	max-width: 270px;
	max-height: 54px;
	flex: 1;
}
.solana {
	grid-area: solana;
}
.sequoia {
	grid-area: sequoia;
}
.rarestone {
	grid-area: rarestone;
}
.jumpcapital {
	grid-area: jumpcapital;
}
.circle {
	grid-area: circle;
}
.gateio {
	grid-area: gateio;
}
.huobi {
	grid-area: huobi;
}
.krypital {
	grid-area: krypital;
}
.gateio2 {
	grid-area: gateio2;
}
.fundamental {
	grid-area: fundamental;
}
.mcventures {
	grid-area: mcventures;
}
.alameda {
	grid-area: alameda;
}

.line {
	border: solid 1px #2481e2;
	margin: 4rem 0 100px 0;
	opacity: 0;
}
.sitemap {
	margin-bottom: 4rem;
}
.sitemap .columns {
	display: grid;
	/* flex-direction: row; */
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'col1 col2 col3';
	margin-top: 100px;
	grid: 1rem;
	/* align-items: flex-start; */
}
.sitemap .columns .column {
	justify-self: space-around;
}
.sitemap .columns .column:nth-child(1) {
	grid-area: col1;
	justify-self: left;
}
.sitemap .columns .column:nth-child(2) {
	justify-self: center;
	grid-area: col2;
}
.sitemap .columns .column:nth-child(3) {
	justify-self: right;
	grid-area: col3;
}
.sitemap .columns .column:nth-child(4) {
	grid-area: col4;
}
.sitemap .columns h3 {
	font-weight: bold;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
	line-height: 2rem;
	margin-bottom: 0.8rem;
}
.sitemap .columns li {
	font-size: 1.4rem;
	line-height: 2rem;
}
.sitemap .columns a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
footer {
	background: #2481e2;
	border-radius: 10px;
	padding: 22px 45px;
	display: flex;
	flex-direction: row;
	margin: 1rem;
	margin-bottom: 6rem;
	justify-content: space-between;
	align-items: center;
}
.bottom_logo {
	max-height: 66px;
}
footer .button {
	border: none;
	/* width: 204px; */
	height: 50px;
	background-color: black;
	border-radius: 26px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	font-weight: 200;
	padding: 0 20px;
}
footer .button.lang {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
footer .button.lang img {
	height: 20px;
	flex: 1;
}
footer .button.lang img.arrow {
	height: 8px;
}

footer .group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

/* menu */

.wrapper {
	width: 100%;
	margin: 0 auto;
}

nav.mobile {
	display: none;
	position: relative;
	height: 3rem;
	z-index: 10;
	background-color: transparent;
	/* margin: 1rem 1rem 0; */
}
nav.mobile .wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc(100vw - 2rem);
}

.ham {
	margin-left: auto;
}
.ham span {
	padding-left: -2rem;
	font-size: 2.5rem;
	font-weight: 200;
	cursor: pointer;
}

.wrapper ul {
	position: absolute;
	width: 164px;
	top: 0;
	right: 1.5rem;
	margin-right: -2.5rem;
	z-index: -1;
	background: #f4f4f4; /*#f4f4f4*/
	/* box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.16); */
	border-radius: 29px 0px 0px 29px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	opacity: 0;
	height: 0;
	padding-top: 2rem;
}

.wrapper ul li {
	/* margin: 1rem -1rem 1rem 0; */
	font-size: 1rem;
	/* line-height: 35px; */
	line-height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	width: 130px;
	text-align: left;
}
.wrapper ul li:last-child {
	border-bottom: none;
}
.wrapper ul li a {
	color: #2481e2;
	font-size: 1.225rem;
	text-decoration: none;
}
@media (max-width: 900px) {
	nav.mobile {
		display: block;
	}
	section.nav {
		display: none !important;
	}
}
.button {
	cursor: pointer;
}

/*--------------------- MODAL & POP-UP ----------------------*/

.message-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

.actual-message {
	font-size: 1.5em;
	line-height: 1.5em;
	max-width: calc(100% - 1rem);
	width: 500px;
	background: white;
	padding: 20px;
	text-align: center;
	opacity: 1;
	flex: 0;
	margin-top: 0;
	position: relative;
	border-radius: 10px;
}

.modal {
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}

.close-button {
	position: absolute;
	top: -20px;
	right: -20px;
	color: #545454;
	background: #2481e2;
	color: white;
	padding: 15px;
	border: 10px solid white;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	line-height: 0;
	cursor: pointer;
	font-size: 1.5em;
}

.message-container p {
	line-height: 2em;
	font-weight: 400;
}

.message-container h2 {
	text-transform: none;
	/* margin-top: 20px; */
	font-size: 2rem;
}

.message-container .free {
	color: #2481e2;
	font-size: 2rem;
	font-weight: bold;
}

.message-container .link-button-dark {
	margin-bottom: 0;
}
/* .message-container button {
	cursor: pointer;
	border: none;
	margin-top: 3rem;
	background-color: #2481e2;
	color: white;
	font-size: 1rem;
	border-radius: 8px;
	padding: 0.8rem 1.4rem;
} */
@media (max-width: 1023px) {
	.actual-message {
		padding: 10px;
		max-width: calc(100% - 20rem);
	}
	.message-container .actual-message h2 {
		font-size: 1.5rem;
	}
}
@media (max-width: 466px) {
	.actual-message {
		max-width: calc(100% - 10rem);
	}
	.message-container .actual-message h2 {
		font-size: 1rem;
	}
}
/* Carousel */
.part3 {
	position: relative;
}
.bg_image {
	width: 65vw;
	height: 500px;
	position: absolute;
	top: 24rem;
	left: 6rem;
	z-index: 0;
	background-image: url('/img/carousel/carousel_bg.webp');
	background-size: contain;
	background-repeat: no-repeat;
}
.carousel {
	width: 1054px;
	height: 557px;
	position: relative;
	/* background-color: #68d8de24; */
	perspective: 1000px;
	transform-style: preserve-3d;
	/* transform-origin: 20% center; */
	transform: translateX(20px);
}
@media (max-width: 1054px) {
	.carousel {
		transform: scale(0.8);
	}
}

.carousel .card {
	box-sizing: border-box;
	background: rgb(34, 129, 192);
	background: linear-gradient(
		216deg,
		rgba(34, 129, 192, 1) 0%,
		rgba(47, 168, 234, 1) 19%,
		rgba(65, 214, 221, 1) 56%,
		rgba(54, 174, 221, 1) 100%
	);
	border-radius: 20px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	width: 324px;
	height: 378px;
	padding: 2rem;
	overflow: hidden;
	z-index: 1;
	transform: translateZ(-1000px);
	position: absolute;
	box-shadow: 4px 0 0 0 rgba(34, 129, 192, 1);
}
.carousel .card:nth-child(1) {
	box-shadow: none;
}
.carousel .card:nth-child(6) {
	background: linear-gradient(
		256deg,
		rgba(34, 129, 192, 1) 0%,
		rgba(47, 168, 234, 1) 19%,
		rgba(65, 214, 221, 1) 56%,
		rgba(34, 129, 192, 1) 100%
	);

	box-shadow: -6px 0 0 0 rgba(34, 129, 192, 1);
}
.carousel .card:nth-child(4) {
	box-shadow: 10px 0 0 0 rgba(34, 129, 192, 1);
}
.carousel .card h3 {
	color: white;
	font-size: 1.4rem;
	/* flex: 1; */
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	/* margin-top: 1rem; */
}
.carousel .card img {
	/* flex: 1; */
	/* margin-top: 5rem; */
	width: 40%;
	height: auto;
}
/*
1 - seer, 2 - binance, 3 - usdt, 4 - eth, 5 - opensea, 6 - skull
*/
.carousel .card:nth-child(1) {
	left: 340px;
	top: 140px;
	transform: translateZ(0px);
}
.carousel .card:nth-child(6) {
	transform: rotateY(50deg) translateZ(-100px);
	transform-origin: right center;
	z-index: 10;
	width: 204px;
	height: 241px;
	left: 74px;
	top: 200px;
}
.carousel .card:nth-child(6) img {
	width: 65%;
}
.carousel .card:nth-child(2),
.carousel .card:nth-child(5) {
	margin-top: 10rem;
	/* width: 156px;
	height: 168px; */
	background: white;
	padding: 2rem;
	box-shadow: -9px 0 0 0 rgba(0, 0, 0, 0.12), 0 15px 20px 0 rgba(0, 0, 0, 0.08); /*0 0px 10px rgba(0, 0, 0, 0.3), -10px 0 0 rgba(0, 0, 0, 0.3);*/
}
.carousel .card:nth-child(5) {
	box-shadow: -6px 0 0 0 rgba(0, 0, 0, 0.12), 0 15px 20px 0 rgba(0, 0, 0, 0.08);
}
.carousel .card:nth-child(2) img,
.carousel .card:nth-child(5) img {
	width: 60%;
}
.carousel .card:nth-child(5) {
	transform: rotateY(20deg) translateZ(-200px);
	z-index: 1;
	width: 178px;
	height: 178px;
	left: 300px;
	top: -140px;
}

.carousel .card:nth-child(4) {
	transform: rotateY(-20deg) translateZ(-200px) scale(0.5);
	z-index: 1;
	/* width: 178px;
	height: 178px; */
	right: 160px;
	top: -100px;
}
.carousel .card:nth-child(3) {
	transform: rotateY(-40deg) translateZ(-100px);
	width: 174px;
	height: 178px;
	right: 40px;
	top: 150px;
}
.carousel .card:nth-child(2) {
	transform: rotateY(10deg) translateZ(-100px);
	width: 178px;
	height: 178px;
	right: 40px;
	top: 200px;
}
/* bg */
.part_wrapper {
	position: relative;
	width: 100vw;
	/* height: 897px; */
	/* background-color: coral; */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	overflow: hidden;
}
.bg_part3_1 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 1000px;
	height: 1608px;
	background: url('/img/squid.webp') transparent;
	background-image: image-set('/img/squid.webp' 1x, /* '/img/squid.png' 1x */);
	background-size: 100%;
	/* background-position: 68% 0; */
	background-repeat: no-repeat;
	transform: rotate(-49deg);
	filter: blur(40px);
	opacity: 0.3;
}
.bg_part3_2 {
	position: absolute;
	top: 0;
	right: 0;
	background: burlywood;
	width: 508px;
	height: 857px;
	background: url('/img/bg/part2_n_half_after_2.webp') transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	filter: blur(40px);
	opacity: 0.3;
}

.bg_part4_1 {
	position: absolute;
	background: url('/img/squid.webp') transparent;
	background-image: image-set('/img/squid.webp' 1x, /* '/img/squid.png' 1x */);
	background-size: 787px 756px;
	width: 787px;
	height: 756px;
	top: 4464px; /*1300px;*/
	right: -100px;
	transform: rotate(-30deg) scaleX(-1);
	filter: blur(40px);
	opacity: 0.75;
	overflow: hidden;
}
/* .part_wrapper.ch3 { */
/* overflow-y: visible; */
/* } */

.bg_part5_1 {
	position: absolute;
	left: -200px;
	top: 700px;
	width: 1040px;
	height: 998px;
	background: url('/img/squid.webp') transparent;
	background-image: image-set('/img/squid.webp' 1x, /* '/img/squid.png' 1x */);
	background-size: 1040px 998px;
	filter: blur(40px);
	overflow: hidden;
	opacity: 0.3;
}
.bg_part5_2 {
	position: absolute;
	right: -263px;
	bottom: -283px;
	width: 953px;
	height: 915px;
	background: url('/img/squid.webp') transparent;
	background-image: image-set('/img/squid.webp' 1x, /* '/img/squid.png' 1x */);
	background-size: 953px 915px;
	transform: rotate(-210deg) scaleX(-1);
	filter: blur(30px);
	opacity: 0.6;
}

.bg_part2 {
	/* display: none; */
	position: absolute;
	background: url('/img/squid.webp') transparent;
	background-image: image-set('/img/squid.webp' 1x, /* '/img/squid.png' 1x */);
	background-size: 826px 793px;
	width: 826px;
	height: 793px;
	transform: rotate(68deg) scale(1.2);
	right: -66px;
	top: 2241px;
	overflow: hidden;
	filter: blur(30px);
	opacity: 0.9;
}

[contenteditable] {
	outline: 0px solid transparent;
}

.bg_container {
	/* background-color: #e8bc6e; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	height: 6000px;
}
@media (max-width: 1023px) {
	/* .bg_container { */
	/* display: none; */
	/* } */
}

.part.part1 {
	width: 1304px;
}

section.nav {
	display: flex;
	width: 100%;
	justify-content: center;
	z-index: 1000;
}
nav.top {
	display: flex;
	flex-direction: row;
	flex: 1;
}
@media (max-width: 1200px) {
	nav.top {
		padding: 0 2rem;
	}
}

section.nav.sticky {
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section.nav.sticky .top {
	margin: 1.3rem 0 0.7rem 0;
}

/* video {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	position: absolute;
	height: min(100vh, 100vw);
	object-fit: cover;
} */

#seereco,
#image2,
#image2 {
	display: none !important;
}
